
body{
  min-height: 100vh;
  margin:0;
  padding: 0;
}
#root{
  min-height: 100vh;
}
.logo{
  height: 32px;
  margin: 32px 16px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  height: 100%;
}